h1 {
    color: maroon;
    background-color: white
}
body {
    background-image: url('myBackground.png');
}

p {
    background-color: white
}

#content {
    width: 800px;
    padding: px;
    margin-left: auto;
    margin-right: auto;

}